<% unless is_logged_in? %>
    <div class="error"> Please log in or sign up to view your cart. </div>
<% else %>
    <% if current_customer.purchases.count == 0 %>
    <div class="error"> Your cart is empty. </div>

    <% else %>
        <h1> Your Cart </h1>
        <% total = 0 %>
        <% current_customer.purchases.each do |purchase| %>
            <div id="item">
            <span><%= purchase.item.name %><br>
                  $<%= purchase.item.price %><br></span>
            <span><%= button_to "remove from cart", {:controller => :purchases, :action => 'destroy', :id => purchase.id }, method: "delete" %></span>
            </div>
            <% total += purchase.item.price %>
        <% end %>
        <div id="checkout">
        <p> Cart Item Total: <%= current_customer.purchases.count %> </p>
        <p> Subtotal: $<%= total %> </p>
        <%= button_to "Checkout", "https://www.paypal.com/", method: "get" %>
        </div>
    <% end %>
<% end %>