<h1><%= @item.name %></h1>

<%= @item.description %>

<%= "$ #{@item.price}" %><br>

<%= @item.stock %><br>

<%= image_tag "#{@item.image}.jpg", size: "570x325" %>

<%= form_for @purchase do |f| %>
    <%= f.hidden_field :item, :value => @item.id %>  
    <%= f.hidden_field :cart_id, :value => current_customer.carts.find_by(id: current_customer.id) %>  
    <%= f.submit "Add to cart" %>
<% end %>


<% @item.reviews.each do |review| %>
    <%= review.rating %>
    <%= review.body %>
<% end %>
