<section> 
 <div id="image"> <%= image_tag "#{@item.image}.jpg", size: "570x325" %> </div>
 <div id="showcase">
    <h1><%= @item.name %></h1>

    <%= @item.description %>

    <p> Price: <%= "$ #{@item.price}" %><br></p>

    <p> Stock: <% if @item.stock == 0 %> No Longer in stock
               <% else%>
                  <%= @item.stock %><br></p>
                <% end %>
    <% if is_logged_in? && @item.stock > 0 %>
        <%= form_for @purchase do |f| %>
            <%= f.hidden_field :item_id, :value => @item.id %>  
            <%= f.hidden_field :cart_id, :value => current_customer.carts.find_by(customer_id: current_customer.id) %>  
            <%= f.submit "Add to cart" %>
        <% end %>
    <% elsif is_logged_in? %><br>
        Cannot order
    <% else %>
    <p>Sign up or log in above to add item to cart</p>
<% end %>
 </div>
</section>

<%= render "/reviews/show.html.erb" %>
<%= render "/reviews/new.html.erb" %>

<h4>People Who Bought This Also Purchased</h4>
<% @items.sample(5).each do |item| %>
    <%= link_to item_path(item) do %>
        <%= image_tag("#{item.image}.jpg", size: "250x170", :style => "margin: 12px") %>
    <% end %>
<% end %>
