<h1><%= @item.name %></h1>

<%= @item.description %>

<%= "$ #{@item.price}" %><br>

<%= @item.stock %><br>

<%= image_tag "#{@item.image}.jpg", size: "570x325" %>

<%= form_for @item.purchases do |f|%>
<%= f.hidden_field :item_id, :value => :item.id %>
<%= f.number_field :quantity, :value => 1 %>
<%= f.submit "Add to Cart" %>
<% end %>


<% @item.reviews.each do |review| %>
    <%= review.rating %>
    <%= review.body %>
<% end %>
