<h1><%= @item.name %></h1>

<%= @item.description %>

<%= "$ #{@item.price}" %><br>

<%= @item.stock %><br>

<%= image_tag "#{@item.image}.jpg", size: "570x325" %>




<% @item.reviews.each do |review| %>
    <%= review.rating %>
    <%= review.body %>
<% end %>
