<h1><%= @item.name %></h1>

<%= @item.description %>

<%= "$ #{@item.price}" %><br>

<%= @item.stock %><br>

<%= image_tag "#{@item.image}.jpg" %>

<%= button_to "Add to cart", add_to_cart_path %>


<% @item.reviews.each do |review| %>
    <%= review.rating %>
    <%= review.body %>
<% end %>
