<!DOCTYPE html>
<html>
  <head>
    <title>Phase2Project</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p>
    <%= form_tag(items_path, method: :get) do %>
        <%= text_field_tag(:name)%>
        <%= submit_tag("Search our website")%>
    <% end %>
    </p>

    <% if is_logged_in? %>
      <p> Logged in as: <%= current_customer.username %> </p>
    <% else %>
    <p>
      <%= link_to "Sign up", new_customer_path %>
      <%= link_to "Log In", "/login" %>
    </p>
    <% end %>

    <%= yield %>
  </body>
</html>
